<div class="container-fluid drop">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <p>{{ teamData.team.full_name }}[{{ teamData.team.abbreviation }}]</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <p>Score for past 12 days</p>

              <!-- For result Stats -->
              <ng-container *ngFor="let result of teamData.results">
                <ul>
                    <li><span>{{result.home_team.abbreviation}}</span> {{result.home_team_score}} - {{result.visitor_team_score}} <span>{{result.visitor_team.abbreviation}}</span></li>
                </ul>
            </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">

        <!-- Back to Team Stats -->
        <button [routerLink]="['/']" 
        id="backBtn">
          << Back to all team stats
        </button>
        
      </div>
    </div>
  </div>
</div>
