<div class="container-fluid drop">
  
  <!-- dropdown -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <select
      class="form-select"
      id="teamSelect"
      name="teamSelect"
      formControlName="teamName"
    >
      <ng-container *ngFor="let team of teams">
        <option value="{{ team.id }}">{{ team.full_name }}</option>
      </ng-container>
    </select>
    <!-- Track Button -->
    <button type="submit" class="btn btn-primary" id="trackBtn">
      Track Team
    </button>
  </form>

  
  <div *ngFor="let teamData of teamsDataList">
    <div class="card">
      <div class="card-header">
        <p>
          {{ teamData.team.full_name }}[{{ teamData.team.abbreviation }}]

          <!-- Close Button -->
          <button
            id="remove{team}"
            type="button"
            class="close"
            aria-label="Close"
            (click)="remove(teamData.team.id)"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </p>

        <p>{{ teamData.team.conference }}ern conference</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <div>
              <div>
                Results of past 12 days

                <!-- For images -->

                <img
                  src="{{
                    'https://interstate21.com/nba-logos/' +
                      teamData.team.abbreviation +
                      '.png'
                  }}"
                  alt="logo"
                />
                <ng-container *ngFor="let result of teamData.results">
                 
                  <div
                    *ngIf="
                      result.home_team.id === teamData.team.id;
                      else elseBlock
                    "
                  >
                    <div
                      *ngIf="
                        result.home_team_score > result.visitor_team_score;
                        else elseAwayBlock
                      "
                    >
                      <div class="chip" style="background-color: green;">
                        <p>W</p>
                      </div>
                    </div>
                    <ng-template #elseAwayBlock>
                      <div class="chip" style="background-color: red;">
                        <p>L</p>
                      </div>
                    </ng-template>
                  </div>
                  <ng-template #elseBlock>
                    <div>
                      <div
                        *ngIf="
                          result.home_team_score < result.visitor_team_score;
                          else elseAwayBlock
                        "
                      >
                        <div class="chip" style="background-color: green;">
                          <p>W</p>
                        </div>
                      </div>
                      <ng-template #elseAwayBlock>
                        <div class="chip" style="background-color: red;">
                          <p>L</p>
                        </div>
                      </ng-template>
                    </div>
                  </ng-template>
                  
                </ng-container>
              </div>
              <div>Avg pts scored:{{ teamData.avgPointScored }}</div>
              <div>Avg pts conceded:{{ teamData.avgPointConceded }}</div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
        <div class="card-footer">

          <!-- See Game Results Button -->
          
          <button
            (click)="sendToResultPage(teamData.team.id)"
            id="results{team}
          "
          >
            See game Results>>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

